.MovieCard {
  margin: 25px 15px 25px 15px;
}

.MovieCard .SubTitle {
  font-weight: bold;
}

.MovieCard .Title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.MovieCard .DataContainer {
  display: flex;
  flex-direction: column;
}
